.site-header {
    background-color: #fff;
    margin-bottom: 25px;
	padding: 19px 0 18px;
}

.site-header__inner {
	@include flex-starter;
}
.site-header__logo-link {
	text-decoration: none;
}
.site-header__logo {
	width: 178px;
	height: 36px;
}
.navbar {
	margin-right: 24px;
	margin-left: auto;
}
.navbar__list {
	@include flex-starter;
	@include list-starter;
}
.navbar__item + .navbar__item {
	margin-left: 28px;
}
.navbar__link {
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #22343d;

   &--active{
       font-weight: 600;

       
   }

   
}

.site-header__link {
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #173a56;
	background-color: #fff;
	padding: 9px 23px 8px 25px;
	border: 1px solid #bcd0e5;
	border-radius: 4px;
	margin-right: 24px;

    &:hover{
        color: #fff;
        background-color: #22343d;
    }

}

.site-header__link--active {
	color: #fff;
	background-color: #02897a;
	border: 1px solid transparent;

    &:hover{
        color: #fff;
        background-color: #22343d;
    }
}

.switch-button {
	padding: 0;
	border: none;
	border-radius: 50%;
}

.switch-button__img {
	width: 32px;
	height: 32px;
}

.menu-button{
    display: none;
    padding: 0;
    border: none;
    background-color: transparent;
}




@include max-width(520px)
{
    .site-header{
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }
    .navbar, .site-header__link, .switch-button{
        display: none;
    }

    .menu-button{
        display: block;
        margin-left: auto;
    }
    
}
