.product{
    
}
.product__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    margin: 0;
    margin-bottom: 146px;
}
.product__list {
    @include flex-starter;
    justify-content: space-between;
    @include list-starter;
    margin-bottom: 34px;
}
.product__item {
    position: relative;
    width: 240px;
    &::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background-size: contain;
        top: -80px;
        
    }
    &:nth-child(1)::before
    {
        background-image: url("../../images/product1.svg");

    }

    &:nth-child(2)::before{
        background-image: url("../../images/product2.svg");
    }

    &:nth-child(3)::before{
        background-image: url("../../images/product3.svg");
    }

    &:nth-child(4)::before{
        background-image: url("../../images/product4.svg");
    }
}
.product__item__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22343D;
    margin: 0;
    margin-bottom: 13px;
}
.product__item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin: 0;
}
.product__link {
    display:block;
    width: 175px;
	text-decoration: none;
    text-align: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
    margin: 0 auto;
	padding: 15px 32px 14px 34px ;
	border-radius: 4px;
    color: #fff;
	background-color: #02897a;
	border: 1px solid transparent;
}